body{
height: 400px;
width: 400px;
}
.iconStyle { /* стиль иконки */
	width: 20px;
	height: 20px;
    float: none;
}
#usersInfo{
	background: #d4d9de;
}
#refundInfo{
	background: #20B907;
}
#trackingInfo{
	background: #0ff;
}
